.container {
    max-width: 1200px;
    margin: 0 auto;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  #no-result-warning {
      margin-top: 50px;
      text-align: center;
      align-self: center;
      font-size: 25px;
  }